/* fonts */
/* montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* telex */
@import url('https://fonts.googleapis.com/css?family=Telex&display=swap');
/* overpass */
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

/* document related */
body {
  padding: 0;
  margin: 0;
}
/* container related */
.container {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  margin: 100px auto 0 auto;
}
/* banner related */
.banner {
  width: 100%;
  height: 200px;
  display: flex;
}
.left-banner {
  border: 1px solid #000;
  flex: 2;
}
.left-banner .content {
  width: max-content;
  height: max-content;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}
.right-banner {
  border: 1px solid #000;
  flex: 1;
}
.right-banner .content {
  width: max-content;
  height: max-content;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  font-family: Telex, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}